<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Add New Pub</h3>
    </div>
    <p> {{ create.message}} </p>
            <div class="myform">
                <form name="form" class="css-form" novalidate>

                    <p class="control ">
                        <input class="input" type="text" placeholder="name" ng-model="createP.name" name="name"  >
                    </p>

                    <p class="control ">
                        <input class="input is-primary" type="text" placeholder="description"  ng-model="createP.description" name="description">
                    </p>

                    <p class="control ">
                        <input class="input is-primary" type="text" placeholder="rating"  ng-model="createP.rating" name="description">
                    </p>
                    <p class="control ">
                        <input class="input is-primary" type="text" placeholder="address"  ng-model="createP.address" name="address">
                    </p>

                    <div data-ng-repeat="tag in createP.tagList">
                        <p class="control">
                            <label class="checkbox">
                                <input type="checkbox" id="tag-{{$index}}" ng-model="tag.selected">
                                {{tag.name}}
                            </label>
                        </p>
                    </div>

                    <p class="control">
                        <button class="button is-success" data-ng-click="createP.save()">Add pub</button>
                    </p>

                </form>
             </div>
</div>